<h1><%= @task.title %></h1>
<p><%= @task.description %></p>
<%= link_to 'Modifier', edit_task_path %> / 
<%= link_to 'Retour sur la liste', tasks_path %> / 
<%= link_to 'Supprimer', task_path, method: :delete%>